In [0]:
# installing pycaret
!pip install pycaret

In [0]:
import pandas as pd
from pycaret.regression import*

In [0]:
#loading data
train = pd.read_csv('/content/train.csv.zip')
test = pd.read_csv('/content/test.csv')

In [33]:
print(train.shape, test.shape)

(25000, 11) (5394, 10)

In [34]:
train.head(3)

   ID  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.72    Ideal     H    VVS1   61.5   57.0  5.74  5.76  3.54   3180
1   1   0.40  Premium     F     SI2   59.6   58.0  4.85  4.81  2.88    864
2   2   0.76    Ideal     E    VVS1   62.2   55.0  5.86  5.82  3.63   5056

In [35]:
test.head(3)

      ID  carat    cut color clarity  depth  table     x     y     z
0   2714   0.33  Ideal     H     SI1   61.7   55.0  4.43  4.46  2.74
1  14653   1.20  Ideal     I     VS2   62.1   57.0  6.78  6.71  4.19
2  52760   0.62  Ideal     D     VS1   61.0   57.0  5.51  5.54  3.37

In [36]:
#preparing the data for modeling
setup(train, target = 'price')

Setup Succesfully Completed!

(       carat  depth  table  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
 0       0.72   61.5   57.0  ...          0.0           1.0           0.0
 1       0.40   59.6   58.0  ...          0.0           0.0           0.0
 2       0.76   62.2   55.0  ...          0.0           1.0           0.0
 3       1.02   64.2   61.0  ...          0.0           0.0           0.0
 4       0.70   67.5   55.0  ...          0.0           0.0           0.0
 ...      ...    ...    ...  ...          ...           ...           ...
 24995   0.47   62.8   56.0  ...          0.0           0.0           0.0
 24996   0.51   62.8   56.0  ...          0.0           0.0           0.0
 24997   0.34   62.2   55.0  ...          1.0           0.0           0.0
 24998   0.94   62.4   56.0  ...          0.0           0.0           0.0
 24999   1.03   62.0   59.0  ...          0.0           0.0           0.0

 [25000 rows x 26 columns], 0        3180
 1         864
 2        5056
 3        3633
 4        1069
          ...
 24995    1133
 24996    1687
 24997     641
 24998    4661
 24999    4974
 Name: price, Length: 25000, dtype: int64,        carat  depth  table  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
 16588   0.55   61.1   56.0  ...          0.0           0.0           0.0
 5341    0.38   60.5   58.0  ...          1.0           0.0           0.0
 224     0.49   58.5   61.5  ...          0.0           0.0           0.0
 24810   1.10   63.3   56.0  ...          0.0           0.0           0.0
 8935    1.00   60.8   61.0  ...          1.0           0.0           0.0
 ...      ...    ...    ...  ...          ...           ...           ...
 2936    2.00   62.4   58.0  ...          0.0           0.0           0.0
 4276    0.71   63.7   54.0  ...          1.0           0.0           0.0
 9553    1.06   63.4   57.0  ...          0.0           0.0           0.0
 720     0.74   58.7   58.0  ...          0.0           0.0           0.0
 4485    0.31   61.9   55.0  ...          1.0           0.0           0.0

 [17499 rows x 26 columns],        carat  depth  table  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
 23004   0.33   61.6   55.0  ...          0.0           0.0           0.0
 2847    0.76   61.9   56.0  ...          0.0           0.0           0.0
 3068    1.51   63.0   62.0  ...          0.0           0.0           0.0
 7477    1.69   62.0   56.0  ...          0.0           0.0           0.0
 17881   0.51   60.8   60.0  ...          0.0           0.0           1.0
 ...      ...    ...    ...  ...          ...           ...           ...
 13992   1.00   57.9   62.0  ...          0.0           0.0           0.0
 8318    0.71   58.2   57.0  ...          0.0           0.0           0.0
 5232    0.32   61.8   60.0  ...          0.0           0.0           0.0
 6745    0.72   61.6   58.0  ...          1.0           0.0           0.0
 19403   1.71   62.1   58.0  ...          0.0           0.0           0.0

 [7501 rows x 26 columns], 16588     1256
 5341      1112
 224       1294
 24810     4065
 8935      6189
          ...
 2936     14973
 4276      2682
 9553      6477
 720       2452
 4485       680
 Name: price, Length: 17499, dtype: int64, 23004      738
 2847      2358
 3068      9894
 7477      6636
 17881     2387
          ...
 13992     4961
 8318      2039
 5232       645
 6745      2724
 19403    10096
 Name: price, Length: 7501, dtype: int64, 2630, Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 numeric_strategy='mean',
                                 target_variable=None)),
                 ('new_levels1',
                  New_Catagorical_Levels_i...
                 ('group', Empty()), ('nonliner', Empty()), ('scaling', Empty()),
                 ('P_transform', Empty()), ('pt_target', Empty()),
                 ('binn', Empty()), ('rem_outliers', Empty()),
                 ('cluster_all', Empty()), ('dummy', Dummify(target='price')),
                 ('fix_perfect', Remove_100(target='price')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', Empty()), ('fix_multi', Empty()),
                 ('dfs', Empty()), ('pca', Empty())],
          verbose=False), None, [('Regression Setup Config',
                         Description        Value
   0                      session_id         2630
   1               Transform Target         False
   2         Transform Target Method         None
   3                   Original Data  (25000, 11)
   4                 Missing Values         False
   5               Numeric Features             7
   6           Categorical Features             3
   7               Ordinal Features         False
   8      High Cardinality Features         False
   9        High Cardinality Method          None
   10                   Sampled Data  (25000, 11)
   11          Transformed Train Set  (17499, 26)
   12           Transformed Test Set   (7501, 26)
   13               Numeric Imputer          mean
   14           Categorical Imputer      constant
   15                     Normalize         False
   16              Normalize Method          None
   17                Transformation         False
   18         Transformation Method          None
   19                           PCA         False
   20                    PCA Method          None
   21                PCA Components          None
   22           Ignore Low Variance         False
   23           Combine Rare Levels         False
   24          Rare Level Threshold          None
   25               Numeric Binning         False
   26               Remove Outliers         False
   27            Outliers Threshold          None
   28      Remove Multicollinearity         False
   29   Multicollinearity Threshold          None
   30                    Clustering         False
   31          Clustering Iteration          None
   32           Polynomial Features         False
   33             Polynomial Degree          None
   34          Trignometry Features         False
   35          Polynomial Threshold          None
   36                Group Features         False
   37             Feature Selection         False
   38  Features Selection Threshold          None
   39           Feature Interaction         False
   40                 Feature Ratio         False
   41         Interaction Threshold          None),
  ('X_training Set',
          carat  depth  table  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
   16588   0.55   61.1   56.0  ...          0.0           0.0           0.0
   5341    0.38   60.5   58.0  ...          1.0           0.0           0.0
   224     0.49   58.5   61.5  ...          0.0           0.0           0.0
   24810   1.10   63.3   56.0  ...          0.0           0.0           0.0
   8935    1.00   60.8   61.0  ...          1.0           0.0           0.0
   ...      ...    ...    ...  ...          ...           ...           ...
   2936    2.00   62.4   58.0  ...          0.0           0.0           0.0
   4276    0.71   63.7   54.0  ...          1.0           0.0           0.0
   9553    1.06   63.4   57.0  ...          0.0           0.0           0.0
   720     0.74   58.7   58.0  ...          0.0           0.0           0.0
   4485    0.31   61.9   55.0  ...          1.0           0.0           0.0

   [17499 rows x 26 columns]),
  ('y_training Set', 16588     1256
   5341      1112
   224       1294
   24810     4065
   8935      6189
            ...
   2936     14973
   4276      2682
   9553      6477
   720       2452
   4485       680
   Name: price, Length: 17499, dtype: int64),
  ('X_test Set',
          carat  depth  table  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
   23004   0.33   61.6   55.0  ...          0.0           0.0           0.0
   2847    0.76   61.9   56.0  ...          0.0           0.0           0.0
   3068    1.51   63.0   62.0  ...          0.0           0.0           0.0
   7477    1.69   62.0   56.0  ...          0.0           0.0           0.0
   17881   0.51   60.8   60.0  ...          0.0           0.0           1.0
   ...      ...    ...    ...  ...          ...           ...           ...
   13992   1.00   57.9   62.0  ...          0.0           0.0           0.0
   8318    0.71   58.2   57.0  ...          0.0           0.0           0.0
   5232    0.32   61.8   60.0  ...          0.0           0.0           0.0
   6745    0.72   61.6   58.0  ...          1.0           0.0           0.0
   19403   1.71   62.1   58.0  ...          0.0           0.0           0.0

   [7501 rows x 26 columns]),
  ('y_test Set', 23004      738
   2847      2358
   3068      9894
   7477      6636
   17881     2387
            ...
   13992     4961
   8318      2039
   5232       645
   6745      2724
   19403    10096
   Name: price, Length: 7501, dtype: int64),
  ('Transformation Pipeline', Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=True, features_todrop=[],
                                         ml_usecase='regression',
                                         numerical_features=[], target='price',
                                         time_features=[])),
                   ('imputer',
                    Simple_Imputer(categorical_strategy='not_available',
                                   numeric_strategy='mean',
                                   target_variable=None)),
                   ('new_levels1',
                    New_Catagorical_Levels_i...
                   ('group', Empty()), ('nonliner', Empty()), ('scaling', Empty()),
                   ('P_transform', Empty()), ('pt_target', Empty()),
                   ('binn', Empty()), ('rem_outliers', Empty()),
                   ('cluster_all', Empty()), ('dummy', Dummify(target='price')),
                   ('fix_perfect', Remove_100(target='price')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', Empty()), ('fix_multi', Empty()),
                   ('dfs', Empty()), ('pca', Empty())],
            verbose=False)),
  ('Target Inverse Transformer', None)])

In [38]:
#selecting the best model
#FOLD = 10
compare_models()

In [39]:
#creating bunch of models
xgboost = create_model('xgboost')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     421.0522  551055.6452  742.3312  0.9655  0.2288  0.1298
1     399.6653  498249.9168  705.8682  0.9655  0.2003  0.1340
2     403.6719  530353.2908  728.2536  0.9659  0.1867  0.1296
3     384.9531  482751.0965  694.8029  0.9687  0.1722  0.1204
4     415.1517  613115.0765  783.0167  0.9591  0.2144  0.1323
5     423.8058  596783.1234  772.5174  0.9617  0.2031  0.1334
6     415.5305  574742.7434  758.1179  0.9622  0.2018  0.1274
7     405.7845  542776.2246  736.7335  0.9661  0.1792  0.1269
8     413.5815  558703.6771  747.4648  0.9643  0.2017  0.1261
9     402.2411  569059.2948  754.3602  0.9666  0.2231  0.1247
Mean  408.5438  551759.0089  742.3466  0.9646  0.2011  0.1285
SD     11.0167   38512.6253   26.0860  0.0027  0.0172  0.0040

In [45]:
et = create_model('et')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     284.3897  322124.6386  567.5603  0.9798  0.0967  0.0716
1     278.8752  285532.9021  534.3528  0.9802  0.0995  0.0746
2     283.3813  302669.2009  550.1538  0.9806  0.0986  0.0730
3     280.4594  294678.9529  542.8434  0.9809  0.0994  0.0736
4     304.3273  399169.5279  631.7986  0.9734  0.1036  0.0764
5     284.8422  317479.3573  563.4531  0.9796  0.0978  0.0732
6     289.2352  323208.4877  568.5143  0.9787  0.0997  0.0736
7     282.0732  315753.7104  561.9197  0.9803  0.0969  0.0718
8     298.5371  379966.8771  616.4145  0.9757  0.1006  0.0731
9     292.2591  355135.5624  595.9325  0.9791  0.0963  0.0714
Mean  287.8380  329571.9217  573.2943  0.9788  0.0989  0.0732
SD      7.8524   35143.7296   30.0928  0.0023  0.0021  0.0014

In [44]:
rf = create_model('rf')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     294.1816  331526.6468  575.7835  0.9793  0.0966  0.0724
1     293.0046  319193.2596  564.9719  0.9779  0.1013  0.0763
2     285.9053  302434.6126  549.9406  0.9806  0.0994  0.0741
3     288.7704  329638.7047  574.1417  0.9787  0.1023  0.0755
4     306.9676  433763.8330  658.6075  0.9711  0.1070  0.0772
5     293.9114  329991.4447  574.4488  0.9788  0.1007  0.0745
6     295.1364  321123.6871  566.6778  0.9789  0.0992  0.0737
7     296.5506  345604.1658  587.8811  0.9784  0.0982  0.0736
8     306.2593  375389.7251  612.6906  0.9760  0.0996  0.0734
9     306.4640  396293.9173  629.5188  0.9767  0.0986  0.0725
Mean  296.7151  348495.9997  589.4662  0.9776  0.1003  0.0743
SD      7.0837   38732.9317   32.0246  0.0025  0.0027  0.0015

In [40]:
catboost = create_model('catboost')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     304.5262  334086.8255  578.0024  0.9791  0.1155  0.0856
1     292.6048  275118.1100  524.5170  0.9810  0.1191  0.0909
2     294.6341  298511.0569  546.3617  0.9808  0.1103  0.0850
3     289.9548  291563.3796  539.9661  0.9811  0.1171  0.0868
4     307.8663  393863.5991  627.5855  0.9737  0.1239  0.0899
5     313.3214  335130.8324  578.9049  0.9785  0.1156  0.0892
6     313.9990  344007.7172  586.5217  0.9774  0.1168  0.0885
7     298.5453  307298.0919  554.3447  0.9808  0.1124  0.0857
8     313.3772  358498.8791  598.7478  0.9771  0.1155  0.0871
9     306.7146  359061.3389  599.2173  0.9789  0.1116  0.0836
Mean  303.5544  329713.9830  573.4169  0.9788  0.1158  0.0872
SD      8.6023   34597.7720   30.1170  0.0022  0.0037  0.0022

In [41]:
gbr = create_model('gbr')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     415.8076  537595.7061  733.2092  0.9664  0.2637  0.1244
1     403.7340  506691.4261  711.8226  0.9649  0.2188  0.1366
2     404.8406  535859.6298  732.0243  0.9656  0.2289  0.1292
3     383.9474  474842.0632  689.0878  0.9692  0.1749  0.1220
4     411.6406  604986.4329  777.8087  0.9596  0.1813  0.1302
5     422.5150  592618.1633  769.8170  0.9619  0.2027  0.1319
6     419.9611  578318.3716  760.4725  0.9619  0.2467  0.1297
7     407.8037  543155.8975  736.9911  0.9661  0.1813  0.1290
8     413.2283  564688.7533  751.4578  0.9639  0.1947  0.1264
9     403.8203  564455.3565  751.3024  0.9669  0.1995  0.1252
Mean  408.7299  550321.1800  741.3993  0.9646  0.2092  0.1285
SD     10.3643   37403.7931   25.4596  0.0027  0.0282  0.0040

In [42]:
lightgbm = create_model('lightgbm')

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     295.1310  324134.4475  569.3281  0.9797  0.1062  0.0822
1     289.5383  275580.9805  524.9581  0.9809  0.1095  0.0862
2     296.7108  306109.5169  553.2716  0.9803  0.1119  0.0873
3     285.8622  293330.2741  541.5997  0.9810  0.1090  0.0847
4     305.7191  383560.6018  619.3227  0.9744  0.1161  0.0885
5     304.9273  335231.1419  578.9915  0.9785  0.1138  0.0883
6     298.1396  334875.2824  578.6841  0.9780  0.1091  0.0836
7     294.8114  313241.9318  559.6802  0.9804  0.1109  0.0858
8     314.1598  393966.0383  627.6671  0.9748  0.1124  0.0862
9     303.6811  365009.0785  604.1598  0.9786  0.1095  0.0831
Mean  298.8681  332503.9294  575.7663  0.9787  0.1108  0.0856
SD      7.9527   36560.3002   31.5769  0.0023  0.0027  0.0020

In [51]:
# creating multiple layer stacking from specific models
stacknet = create_stacknet([[catboost,rf], [et, lightgbm]])

           MAE          MSE      RMSE      R2   RMSLE    MAPE
0     278.6364  304351.4215  551.6805  0.9810  0.0965  0.0727
1     270.6596  259226.6973  509.1431  0.9821  0.1027  0.0786
2     269.6913  261364.4874  511.2382  0.9832  0.0984  0.0749
3     271.6022  280667.2922  529.7804  0.9818  0.1012  0.0763
4     284.6745  380313.4633  616.6956  0.9746  0.1052  0.0762
5     286.8531  311109.2334  557.7717  0.9800  0.1058  0.0781
6     295.8116  479284.2169  692.3036  0.9685  0.1095  0.0819
7     275.8212  288360.2467  536.9918  0.9820  0.0992  0.0758
8     290.2442  334039.1992  577.9612  0.9786  0.0998  0.0751
9     284.0320  334675.0396  578.5111  0.9803  0.1003  0.0742
Mean  280.8026  323339.1298  566.2077  0.9792  0.1019  0.0764
SD      8.4672   62700.6467   52.4208  0.0043  0.0037  0.0025

In [52]:
# predict test / hold-out dataset
holdout_pred = predict_model(stacknet)

                Model       MAE          MSE      RMSE      R2   RMSLE    MAPE
0  Stacking Regressor  286.0258  305876.2624  553.0608  0.9808  0.1043  0.0775

In [0]:
#final predicition
final_pred = predict_model(stacknet, data= test)

In [54]:
final_pred.head()

      ID  carat    cut color clarity  depth  table     x     y     z      Label
0   2714   0.33  Ideal     H     SI1   61.7   55.0  4.43  4.46  2.74   482.7286
1  14653   1.20  Ideal     I     VS2   62.1   57.0  6.78  6.71  4.19  5563.4918
2  52760   0.62  Ideal     D     VS1   61.0   57.0  5.51  5.54  3.37  2596.7581
3  48658   0.34   Good     H     VS2   63.1   56.0  4.41  4.46  2.80   521.2183
4  14812   1.20  Ideal     E     SI2   62.5   55.0  6.77  6.84  4.25  6245.6648

In [0]:
y_pred = pd.DataFrame()
y_pred['ID'] = final_pred['ID']
y_pred['price'] = final_pred.Label
y_pred.to_csv('submission.csv',index=False)